<isi-header>
  <isi-menu id="menu" [options]="menuOptions"></isi-menu>
  <ng-container id="info">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas modi
      impedit debitis repellat repellendus, tempore eum doloribus corporis
      provident assumenda nihil aut harum voluptatum a mollitia voluptatibus
      commodi, necessitatibus doloremque?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas modi
      impedit debitis repellat repellendus, tempore eum doloribus corporis
      provident assumenda nihil aut harum voluptatum a mollitia voluptatibus
      commodi, necessitatibus doloremque?
    </p>
  </ng-container>
</isi-header>
<router-outlet></router-outlet>
<isi-footer></isi-footer>
